.userImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.userDetails {
  color: black;
  background-color: #b8daff;
  height: 53px;
  width: 463px;
  text-align: center;
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card {
  margin: 0 auto;
  float: none;
  margin-top: 50px;
}
.backToList {
  margin-left: 620px;
}
